{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}

	<link rel="stylesheet" href="{{ asset('/css/loggin.css') }}">

	<body>
		{% include "public/shared/_navbar.html.twig" %}
		<div id="rowRegister" class="row">

			<aside id="ou_intro_register" class="col-xl-3">

				<div class="intro_register">

					<div class="sigle">
						<P id="icoco">
							<i class="fas fa-user-check"></i>
						</p>


					</p>

				</div>
				<div class="infoRegister">
					<h5 style="font-weight:bold">Se connecter
					</h5>


					<p>

						Se connecter à son espace personnel:
					</p>
					<p>
						-créer ses Posts :partager son expérience.</p>
					<p>
						-contacter d'autres membres afin de les aider</p>


				</div>

				<img class="creat_account" src="{{ asset('images/register.png') }}" alt="s'enregistrer"></img>


			<div class="join">


				<a href="mailto:laurentfontaine@gmail.com" class="btn btn-success">Contacter l'Administrateur</a>
			</div>
		</div>
	</body>
</aside>
<aside id="content" class="col-xl-9">
	<div class="content_register">
		<form method="post">


			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}


			<div class="mb-6" id="regis">
				<h5 style="font-weight:bold">Entrer vos identifiants</h5>

				<div class="form-group">

					<label for="inputEmail">adresse email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<button id="btonval" class="btn btn-primary" type="submit">
						<i style="padding: 10px" class="fas fa-sign-in-alt"></i>se connecter
					</button>


				</form>

				<a href="{{ path('app_forgot_password_request') }}" id="mdpoubli" class="btn btn-danger">mot de passe Oublié ?</a>

			</div>


		</form>


	</div>

</aside></div>{% include "public/shared/_footer.html.twig" %}</body>{% endblock %}
